@model Kimeco_ASP.Models.Salary

@{
    ViewBag.Title = "Create salary";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="">
    <h4>Salary</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label>User name</label>
        <div class="col-md-10">
            <select name="UserID">
                @{
                    var listUser = ViewData["ListUser"] as List<Kimeco_ASP.Models.User>;
                    foreach (var item in listUser)
                    {
                        <option value="@item.Username" >@item.FullName</option>
                    }
                }
            </select>
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.WorkingTime, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <select id="WorkingTime" name="WorkingTime">
                <option selected value="M">Morning</option>
                <option value="A">Afternoon</option>
                <option value="OT">Over Time</option>
            </select>
            @Html.ValidationMessageFor(model => model.WorkingTime, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Date</label>
        <div class="col-md-10" id="DoBContainer">
            <input name="stringDay" required="required" type="text" id="txtDOB" class="form-control text-box single-line" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.UnitPerHour, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.UnitPerHour, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.UnitPerHour, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Advanced, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Advanced, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Advanced, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Allowance, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Allowance, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Allowance, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <label>Team</label>
        <div class="col-md-10">
            <select name="TeamID">
                @{
                    var listTeam = ViewData["ListTeam"] as List<Kimeco_ASP.Models.Team>;
                    foreach (var item in listTeam)
                    {
                        <option value="@item.ID">@item.Name</option>
                    }
                }
            </select>
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Value, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Value, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Value, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Sign, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Sign, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Sign, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section scripts {

    <script>
        $('#txtDOB').datepicker({
            container: '#DoBContainer',
            format: 'd/m/yyyy',
            autoclose: true
        });

    </script>
}
