@model IEnumerable<Kimeco_ASP.Models.Cash>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<div class="d-flex justify-content-around">
    <div class="p-2">
        <p>
            @Html.ActionLink("Create New", "Create", null, new { @class = "btn" })
        </p>
        <a href="/admin/home/Cash_MultiUpload">Upload with Excel</a><br />
        <a href="/admin/cashes/spending">Spending</a>
        <br />
        <hr />
    </div>
    <div class="p-2">
        <form method="post" action="/admin/home/Cashes_Report">
            @{
                var listProject = ViewData["listProject"] as List<Kimeco_ASP.Models.Project>;
            }
            <select name="projectID" style="width:300px;">
                @foreach (var item in listProject)
                {
                    <option value="@item.ID">@item.Name</option>
                }
            </select>
            <input type="submit" class="btn" value="Export Report" />
        </form>
    </div>
</div>
<a class="btn" href="~/Admin/Home/Cash_TotalReport">Total Report</a>
<a class="btn" href="~/Admin/Home/Cash_General_Report">General Report</a>
<div id="d_CashMultiUpload">

    <label id="MultiUpload-Loading"></label>

</div>
<div class="widget-box">
    <div class="widget-title">
        <span class="icon">
            <i class="icon-th"></i>
        </span>
        <h5>Cash Table</h5>
    </div>
    <div class="nopadding">
        <table class="table data-table table-bordered dataTable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.C_Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Company)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProjectName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Staff)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.C_Content)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Input)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Output)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Ref)
                    </th>


                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    if (item.Status == true &&item.Note != "Disable")
                    {
                        <tr>
                            <td>
                                @Html.TextBoxFor(modelItem => item.C_Date, "{0:dd/MM/yyyy}")
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Company)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProjectName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Staff)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.C_Content)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Input)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Output)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Ref)
                            </td>
                            <td>
                                <a href="/admin/cashes/edit/@item.ID">Edit</a>
                                <a href="/admin/cashes/delete/@item.ID">Del</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>